<div flex-gt-md="50"
     flex-gt-sm="90">

    <form name="urlForm" novalidate>

        <md-card ng-disabled="vm.isSaving">
            <md-card-content>
                <h2 class="md-title">Sharing a URL</h2>

                <md-input-container>
                    <label>URL to share</label>
                    <input ng-model="vm.inputUrl"
                           required
                           name="url"
                           type="url"
                           ng-pattern="/http://www.100shapes.com/*/">

                    <div ng-messages="urlForm.url.$error"
                         ng-if="urlForm.url.$touched">
                        <div ng-message="required">Whoa there! You <b>need</b> to fill me in.</div>
                        <div ng-message="pattern">Whoa there! I only shorten URLs for <b>100 Shapes</b>.</div>
                    </div>
                </md-input-container>

                <md-autocomplete flex required
                                 md-input-name="campaign"
                                 md-input-minlength="3"
                                 md-search-text="vm.params.campaign"
                                 md-items="campaign in vm.allCampaigns()"
                                 md-item-text="campaign.name"
                                 md-floating-label="Add a campaign">
                    <md-item-template>
                        <span md-highlight-text="vm.params.campaign"
                              md-highlight-flags="^i">
                            {{ campaign.name }}
                        </span>
                    </md-item-template>

                    <md-not-found>
                        Nothing found, so I'll create a new campaign for you.
                    </md-not-found>

                    <div ng-messages="urlForm.campaign.$error"
                         ng-if="urlForm.campaign.$touched">

                        <div ng-message="required">You <b>must</b> have a favorite state.</div>
                        <div ng-message="minlength">Your entry is not long enough.</div>
                        <div ng-message="maxlength">Your entry is too long.</div>
                    </div>
                </md-autocomplete>

                <md-input-container>
                    <label>Where are you posting? i.e. "Twitter"</label>
                    <input type="text"
                           ng-model="vm.params.source"
                           name="source"
                           required/>

                </md-input-container>


                <md-input-container>
                    <label>
                        Where on {{ vm.params.source }}? i.e. "post"
                    </label>
                    <input type="text"
                           ng-model="vm.params.medium"
                           name="medium"
                           required/>
                </md-input-container>


            </md-card-content>

            <div class="md-actions" layout="row" layout-align="end center">
                <md-button ng-click="vm.create()"
                           ng-disabled="urlForm.$invalid"
                           class="md-raised md-primary">

                    Create
                </md-button>

                <md-button ng-click="vm.reset()">
                    Reset
                </md-button>
            </div>
        </md-card>

        <md-card ng-if="vm.outputUrl">
            <md-card-content>
                <h2 class="md-title">Share this</h2>
                <md-input-container>
                    <label>
                        Short URL
                    </label>
                    <input type="url"
                           ng-model="vm.outputUrl"/>
                </md-input-container>
            </md-card-content>
        </md-card>

    </form>

</div>


