<div flex-gt-md="50"
     flex-gt-sm="90">

    <form name="urlForm" novalidate>

        <md-card>
            <md-card-content>
                <h2 class="md-title">Sharing a URL</h2>

                <md-input-container>
                    <label>URL to share</label>
                    <input ng-model="vm.inputUrl"
                           required
                           name="url"
                           type="url"
                           ng-pattern="/http://www.100shapes.com/*/">

                    <div ng-messages="urlForm.url.$error"
                         ng-if="urlForm.url.$dirty">
                        <div ng-message="required">Whoa there! You need to fill me in.</div>
                        <div ng-message="pattern">Whoa there! I only shorten URLs for 100 Shapes.</div>
                    </div>
                </md-input-container>


                <md-input-container>
                    <label>Select a Campaign</label>
                    <md-select ng-model="vm.params.campaign"
                               aria-label="Campaign select"
                               md-on-open="vm.loadCampaigns()">
                        <md-option value="{{  campaign.$id }}"
                                   ng-repeat="campaign in vm.options.campaigns track by $index">
                            {{ campaign.$id }}
                        </md-option>
                    </md-select>
                </md-input-container>


                <md-input-container>
                    <label>Where are you posting? i.e. "Twitter"</label>
                    <input type="text"
                           ng-model="vm.params.source"
                           name="source"
                           required/>

                </md-input-container>


                <md-input-container>
                    <label>
                        Where on {{ vm.params.source }}? i.e. "post"
                    </label>
                    <input type="text"
                           ng-model="vm.params.medium"
                           name="medium"
                           required/>
                </md-input-container>


            </md-card-content>

            <div class="md-actions" layout="row" layout-align="end center">
                <md-button ng-click="vm.create()"
                           ng-disabled="urlForm.$invalid"
                           class="md-raised md-primary">

                    Create
                </md-button>

                <md-button ng-click="vm.reset()">
                    Reset
                </md-button>
            </div>
        </md-card>

        <md-card ng-if="vm.outputUrl">
            <md-card-content>
                <h2 class="md-title">Share this</h2>
                <md-input-container>
                    <label>
                        Short URL
                    </label>
                    <input type="url"
                           ng-model="vm.outputUrl"/>
                </md-input-container>
            </md-card-content>
        </md-card>

    </form>

</div>


